MERCADOPAGO_ACCESS_TOKEN=tu_access_token_de_produccion
MERCADOPAGO_WEBHOOK_SECRET=tu_clave_secreta_del_webhook
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_META_PIXEL_ID=tu_pixel_id_de_meta
